// Mixins Here

.custom-button(@bg-color, @font-color, @border) {
  background: @bg-color;
  color: @font-color;
  border: @border;
}

.custom-font(@size, @margin, @font-color) {
  font-size: @size;
  margin: @margin;
  color: @font-color;
}

.custom-links() {
  text-decoration: none;
}
