// Mixins Here

.custom-button(@bg-color, @font-color) {
  background: @bg-color;
  color: @font-color;
  cursor: pointer;
  &:hover {
    background: @font-color;
    color: @bg-color;
    border: 1px solid @bg-color;
  }
}

.custom-font(@size, @margin, @font-color) {
  font-size: @size;
  margin: @margin;
  color: @font-color;
}

.custom-links() {
  text-decoration: none;
}
