// Navigation code here
nav {
  text-align: center;
  h1 {
    margin: 20px 0;
    font-size: 4rem;
  }
  a {
    color: black;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 0 1.5rem;
  }
}
